/* 
* @Author: Marte
* @Date:   2018-01-04 20:26:50
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-21 14:19:50
*/
/* 菜单 */
.menu-box{
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -ms-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}

.menu{
  width: 2.75rem;
  height: 100%;
  /* background-color: #191919; */
  border-right: 0.01rem solid #fff;
  background-color: rgba(225, 225, 225, 0.6);
  position: absolute;
  left: -2.76rem;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -ms-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}

.display-nav .menu-box{
  z-index: 888;
  -webkit-transform: translateX(2.75rem);
  -moz-transform: translateX(2.75rem);
  -ms-transform: translateX(2.75rem);
  -o-transform: translateX(2.75rem);
  transform: translateX(2.75rem);
}

.display-nav .menu{
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.logo{
  width: 1.25rem;
  height: 1.25rem;
  margin: .5rem auto .6rem auto;
  background-color: #191919;
}

.nav-li{
  text-align: center;
  padding: .2rem 0 .2rem 0;
}

.nav-li a{
  font-size: .24rem;
  line-height: .24rem;
  color: #333;
}